<nav class="navbar bg-light">
  <div class="container-fluid">
    <span><%= link_to "Wikinimous", articles_path, class: "navbar-brand m-3 h1 text-muted text-decoration-none" %></span>
    <span><%= link_to "Create New Article", articles_path, class: "navbar-brand m-3 h3 text-muted text-decoration-none" %></span>
  </div>
</nav>
